*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #1E1E1E; /*placeholder background color until we implement image backgrounds*/
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#profile {
    background-image: url(../img/profile-bg.png);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 13, 13, 0.7);
    margin: 0;
    padding: 0 42px;
    height: 74px;
}
.navbar a {
    display: flex;
    align-items: center;
}
.navbar input {
    background-color: #2C2C2C;
    border: none;
    border-radius: 12px;
    padding: 8px 4px;
    width: 300px;
}
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}
.navbar-right {
    display:flex;
    gap: 20px;
}
.logo {
    width: 72px;
    height: 72px;
    border-radius: 12px;
}
button {
    padding: 10px 20px;
    height: 45px;
    border-radius: 24px;
    font-size: 18px;
    background-color: #E5E9F2;
    border: none;
}
.login-button {
    background-color: #47525E;
}

.main-home-section {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    flex-grow: 1;
}
.searchbar-and-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 64px;
    flex-basis: 300px;
}
.book-search input {
    background-color: #2C2C2C;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
}
.book-information {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 56px 32px;
    justify-content: space-between;
    background-color: rgba(13, 13, 13, 0.7);
    flex: 1;
    border-radius: 36px;
}
.tags-container, .date-of-publication, .page-count-chapter {
    border-radius: 16px;
    background-color: #2C2C2C;
}
.book-information p {
    color: white;
    text-align: center;
}
.info-text {
    font-size: 26px;
}
.tag-text {
    font-size: 18px;
    margin: 0;
}
.tags-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 0;
    height: 196px;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border-width: 1px;
    width: 108px;
    height: 36px;
    border: 1px solid white;
    border-radius: 32px;
}

.candidate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 13, 13, 0.7);
    border-radius: 20px;
    flex-basis: 825px;
    flex-shrink: 1;
}
.candidate p {
    color: white;
}
.candidate-bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 10px;
}
.candidate-description-text {
    flex-basis: 650px;
    font-size: 26px;
    background-color: #2C2C2C;
    text-align: center;
    border-radius: 20px;
}
.book-title-text {
    font-size: 48px;
}
.candidate-bottom img {
    width: 64px;
    height: 64px;
}
.candidate-reject {
    background-color: #77D353;
}
.candidate-accept {
    background-color: #F95F62;
}

.profile-picture {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.user-profile a {
    display: flex;
    gap: 8px;
    text-decoration: none;
}
.username-text {
    color: white;
}
.search-button {
    width: 34px;
    height: 34px;
    background-color: transparent;
}